<%-include("../include/head.ejs", {
  title: "OnBeat - Music Guild Dashboard",
  description: "Dashboard :0"
})%>
<%-include("../include/nav.ejs")%>
  <%if(!channeldb) return;%>
  <div class="p-1 flex justify-center gap-x-1 w-full">
   <form id="requestMusic">
    <input class="text-slate-900 text-center p-1 m-3 drop-shadow rounded-xl" id="search" placeholder="Search a music for <%=guild.name%>"></input>
   </form>
  </div>
  <div id="queue" class="flex flex-col justify-center items-center content-center text-center w-full h-[80vh]">
    Nothing playing...
  </div>
  <script>
  var room = io.connect()
  room.emit("create", "<%=guild.id%>")
   const form = document.getElementById("requestMusic")
   const search = document.getElementById("search");
   this.click = 0
   form.onsubmit = (e) => {
     if(this.click < 1) this.click += 1;
     if(this.click === 1) {
       alert("This feature stills in beta!")
     }
     socket.emit("musicRequest", {guild: "<%=guild.id%>", music: search.value, user: "<%=req.user.id%>"});
     search.value=""
     e.preventDefault();
    return false;
      search.disabled = true;
   }
    socket.on("connect", (connected) => {
      console.log(connected)
    });
    
    socket.on("musicQueue", (music)=> {
      console.log(music)
      UIkit.notification(`Song ${music.track.title} has been queued!`)
    })
    socket.on("queueEnd", music => {
      UIkit.notification("Queue ends!");
    });
    const queue = document.getElementById("queue");
    
    socket.on("currentMusic", (info) => {
      console.log(info)
      if(!info.queue) return queue.innerHTML = "";
      search.disabled = false;
      //console.log(info.perc.progress)
      queue.innerHTML = `<img src="${info.info.image}" class="w-64 rounded-2xl drop-shadow-lg"/><br><p class="text-xl">${info.info.title}</p><p class="text-lg text-slate-700 dark:text-slate-300">${info.info.artist}</p><br><p>${info.perc.current}/${info.perc.end}</p><div class="w-96 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-purple-600 h-2.5 rounded-full" style="width: ${info.perc.progress}%"></div>
        </div><br><div class="absolute inset-x-0 bottom-0 flex bg-slate-100 dark:bg-slate-600 w-full h-16 text-white items-center justify-center text-center rounded-t-xl"><button id="play"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pause"><rect x="6" y="4" width="4" height="16"></rect><rect x="14" y="4" width="4" height="16"></rect></svg></button><button id="skip"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-skip-forward"><polygon points="5 4 15 12 5 20 5 4"></polygon><line x1="19" y1="5" x2="19" y2="19"></line></svg></button></div>`
    })
    
    /*socket.on("musicQueue", (info) => {
      console.log(info)
    const tracks = info.queue.tracks.slice(0, 10);
    queue.innerHTML += `<p>${tracks.title}</p><br>`
    });*/
    twemoji.parse(document.body);
  </script>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<%-include('../include/footer.ejs')%>