<%-include("../include/head.ejs", {
  title: "OnBeat - Music Guild Dashboard",
  description: "Dashboard :0"
})%>
<%-include("../include/nav.ejs")%>
<%if (!channeldb) {%>
<div class="p-1 flex justify-center items-center gap-x-1 h-full w-full">
  <p>Please, set a log channel</p>
</div>
<%} else {%>

<div class="p-1 flex justify-center gap-x-1 w-full">
  <form id="requestMusic" class="fixed" onsubmit="submit(this, '<%=guild.id%>')">
    <input name="music" class="text-slate-900 text-center p-1 m-3 drop-shadow rounded-xl" id="music" placeholder="Search a music for <%=guild.name%>"></input>
  </form>
</div>
<div class="flex flex-col justify-center justify-items-center items-center content-center text-center w-full h-[100vh]" id="stopped">
  Nothing playing...
</div>
<div id="loading" class="hidden flex flex-col justify-center justify-items-center items-center content-center text-center w-full h-[100vh]">
  <svg role="status" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
</svg>
</div>
<div id="track" class="hidden flex flex-col justify-center justify-items-center items-center content-center text-center w-full h-[100vh]">
  <img class="w-64 rounded-2xl drop-shadow-lg" id="track-image" src="" />
  <br>
<p class="text-xl" id="track-name">
  null
</p>
<p class="text-lg text-slate-700 dark:text-slate-300" id="track-artist">
  null
</p>
<br>
<div class="fixed inset-x-0 flex bottom-0 bg-slate-200 dark:text-slate-100 dark:bg-slate-600 w-full h-16 dark:text-slate-900 items-center justify-between text-center rounded-t-xl" id="player">
  <div id="users" class="flex ml-1 -space-x-4" data-tooltip-target="tooltip-top" data-tooltip-placement="top" type="button">
    <img src="" alt="user-1" class="w-10 h-10 border-2 border-slate-200 rounded-full dark:border-slate-600" id="user1" />
  <img src="" alt="user-2" class="w-10 h-10 border-2 border-slate-200 rounded-full dark:border-slate-600" id="user2" />
  <a class="hidden flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-slate-200 rounded-full hover:bg-gray-600 dark:border-slate-600" id="otherusers">+0</a>
</div>
<div id="player-buttons" class="flex dark:text-white text-center">
<button onclick="pause(this, '<%=guild.id%>', '<%=req.user.id%>')" id="play">
<i id="icon" data-feather="pause"></i>
</button>
<button onclick="skip(this, '<%=guild.id%>', '<%=req.user.id%>')" id="skip">
<i data-feather="skip-forward"></i>
</button>
</div>
<div class="text-slate-900 dark:text-slate-100 w-16"><p id="time">00:00</p></div>
</div>
 <div class="w-full fixed bottom-0 bg-gray-200 rounded-full h-1 dark:bg-gray-700">
   <div class="bg-purple-600 h-1 rounded-full" id="time-progress" style="width: 0%"></div>
   </div>
</div>
<div id="tooltip-top" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    <p><span id="connected-users">
      0
    </span> users connected</p>
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>

<script>
socket.emit("create", "<%=guild.id%>")
const form = document.getElementById("requestMusic")
const search = document.getElementById("music");
this.click = 0
form.onsubmit = function(e, guild) {
  socket.emit("create", guild)
  this.click += 1
  if (this.click === 1) {
    alert("This feature stills in beta!")
  }
  socket.emit("musicRequest", {
    guild: "<%=guild.id%>", music: search.value, user: "<%=req.user.id%>"
  });
  search.value = ""
  e.preventDefault();
  search.disabled = true;
  return false;
}

socket.on("musicQueue", () => {
  document.getElementById("loading").classList.remove("hidden")
  document.getElementById("track").classList.add("hidden")
  document.getElementById("stopped").classList.add("hidden")
})

socket.on("queueEnd", () => {
  document.getElementById("loading").classList.remove("hidden")
  document.getElementById("track").classList.add("hidden")
  setTimeout(() => {
   document.getElementById("stopped").classList.remove("hidden")
   document.getElementById("loading").classList.add("hidden")
  }, 1000)
})

socket.on("trackEnd", () => {
  document.getElementById("loading").classList.remove("hidden")
  document.getElementById("track").classList.add("hidden")
})

socket.on("connect", (connected) => {
  console.log(connected)
  //alert(connected)
});
const queue = document.getElementById("queue");
//onst search = document.getElementById("music");
const notrack = document.getElementById("stopped");
const trackEl = document.getElementById("track");
const music = {
  img: document.getElementById("track-image"),
  title: document.getElementById("track-name"),
  artist: document.getElementById("track-artist"),
  time: document.getElementById("time"),
  progress: document.getElementById("time-progress")
}
this.paused = false;
socket.on("currentMusic", (info) => {
  document.getElementById("loading").classList.add("hidden")
  // console.log(info)
  if (!info.queue) {
    notrack.classList.remove("hidden"); trackEl.classList.add("hidden");
  }
  notrack.classList.add("hidden");
  trackEl.classList.remove("hidden");
  music.img.src = info.info.image;
  music.title.textContent = info.info.title;
  music.artist.textContent = info.info.artist;
  
  music.time.textContent = `${info.perc.current}`;
  if(info.perc.current > 100) { 
    music.progress.style.width=`100%`; 
    } else {
    music.progress.style.width = `${info.perc.progress}%`
  }

  const seenUsers = info.members.slice(0, 3)
  const avatar1 = document.getElementById("user1")
  const avatar2 = document.getElementById("user2")
  document.getElementById("connected-users").textContent = info.members.length
  avatar1.src = info.members[0].displayAvatarURL;
  if (info.members[1]) {
    avatar2.classList.remove("hidden")
    avatar2.src = info.members[1].displayAvatarURL;
  } else {
    avatar2.src = "";
    avatar2.classList.add("hidden")
  }

  const extraUsers = info.members.length - 2
  if (extraUsers > 0) {
    document.getElementById("otherusers").classList.remove("hidden")
    document.getElementById("otherusers").textContent = "+" + extraUsers;
  } else {
    document.getElementById("otherusers").classList.add("hidden")
    document.getElementById("otherusers").textContent = "+0";
  }

  search.disabled = false;

})

function pause(play, guild, user) {
  //  console.log(e)
  // e.preventDefault();
  if (this.paused === false) {
    this.paused = true
  } else {
    this.paused = false
  };
  socket.emit("pauseTrack", {
    guild: guild, user: user, paused: this.paused
  });
  const pauseBtn = document.getElementById("icon")
  socket.on("trackUpdate", (update) => {
    console.log(update)
    if (update.pause === true) {
      pauseBtn.innerHTML = feather.icons["play"].toSvg()
    } else {
      pauseBtn.innerHTML = feather.icons["pause"].toSvg()
    }
  })
}
function skip(music, guild, user) {
  socket.emit("skipTrack",
    {
      guild: guild,
      user: user
    });
}
</script>

<%}%>
<%-include('../include/footer.ejs')%>