<%-include("../include/head.ejs", {
  title: "OnBeat - Dashboard",
  description: "Dashboard :0"
})%>
<%-include("../include/nav.ejs")%>
  <div id="icons" class="flex flex-col justify-center items-center w-full h-screen gap-y-2">
  <%req.user.guilds.forEach(guild => {%>
  <%if(!cli.guilds.cache.get(guild.id)) return;%>
  <form id="guild-form" method="post">
  <%if(guild.icon) {%>
  <button name="guild" value="<%=guild.id%>">
   <img src="<%=cli.guilds.cache.get(guild.id).iconURL({size:4096, dynamic: true})%>" class="w-[100px] h-[100px] rounded-full"/>
   </button>
  <%} else {%>
  <button name="guild" value="<%=guild.id%>">
   <canvas id="myCanvas-<%=guild.id%>" width="100px" height="100px" class="w-[100px] h-[100px] rounded-full mb-2
   bg-slate-600 text-white"></canvas>
  <script>
					var canvas = document.getElementById("myCanvas-<%=guild.id%>");
					console.log(canvas.width + " " + canvas.height);
          var ctx = canvas.getContext("2d");
          ctx.font = "30px sans-serif";
					ctx.fillStyle = "white";
          ctx.textAlign = "center"
					var name = "<%=stringTools.toAbbreviation(guild.name);%>"
          ctx.fillText(name,50,59.5);
				</script>
				</button>
  <%}%>
  </form>
  <%})%>
  </div>
  <div class="flex  text-center w-full justify-center">
    <p>In case you didn't find your server amazing:</p>
    <div class="mt-3 flex gap-x-3">
    <button onclick="location.href='https://top.gg/bot/930117271802773514/invite';" class="p-2 text-white bg-purple-700 dark:bg-purple-500 dark:text-slate-900 hover:bg-purple-700/80 hover:dark:bg-purple-500/80 rounded-lg transition-all">Add Bot</button>
    </div>
  </div>
<%-include('../include/footer.ejs')%>