<%-include("../include/head.ejs", {
  title: "OnBeat - Dashboard",
  description: "Dashboard :0"
})%>
<%-include("../include/nav.ejs")%>
  <%if(req.user) {%>
  <div id="icons" class="grid grid-cols-1 md:grid-cols-3 justify-items-center items-center w-full md:h-screen gap-y-1">
    <br class="md:hidden">
  <%req.user.guilds.forEach(guild => {%>
  <%if(!cli.guilds.cache.get(guild.id)) return;%>
  <form id="guild-form" method="post">
  <%if(guild.icon) {%>
  <button name="guild" value="<%=guild.id%>">
   <img src="<%=cli.guilds.cache.get(guild.id).iconURL({size:4096, dynamic: true})%>" class="w-[100px] h-[100px] md:h-[200px] md:w-[200px] rounded-full transition-all"/>
   </button>
  <%} else {%>
  <button name="guild" value="<%=guild.id%>">
    <div class="flex w-[100px] h-[100px] md:h-[200px] md:w-[200px] rounded-full mb-2
   bg-slate-600 hover:bg-blue-600 transition-all items-center justify-center text-white text-4xl md:text-6xl">
      <%=stringTools.toAbbreviation(guild.name);%>
    </div>
   <!--<canvas id="myCanvas-<%=guild.id%>" width="1080px" height="1080px" class="w-[100px] h-[100px] md:h-[150px] md:w-[150px] rounded-full mb-2
   bg-slate-600 hover:bg-blue-600 transition-all text-white"></canvas>
  <script>
					var canvas = document.getElementById("myCanvas-<%=guild.id%>");
					console.log(canvas.width + " " + canvas.height);
          var ctx = canvas.getContext("2d");
          canvas.width
          canvas.height
          ctx.font = "30px sans-serif";
					ctx.fillStyle = "white";
          ctx.textAlign = "center"
					var name = "<%=stringTools.toAbbreviation(guild.name);%>"
          ctx.fillText(name,0,0);
				</script>--->
				</button>
  <%}%>
  </form>
  <%})%>
  <div onclick="window.open('https://top.gg/bot/930117271802773514/invite');" class="flex justify-center text-center items-center border-4 border-gray-600 hover:border-green-600 border-dashed hover:border-solid hover:bg-green-600 w-[100px] h-[100px] md:h-[150px] md:w-[150px] rounded-full duration-300 transition-all">
    <p class="text-4xl md:text-6xl">+</p>
  </div>
  <br class="md:hidden">
  </div>
  <%} else {%>
   <div class="flex flex-col w-full h-[95vh] justify-center items-center">
    <p>Please connect with one of these plataforms:</p>
    <br>
    <a href="/auth/callback" class="text-center flex items-center justify-center gap-x-2  bg-blue-900 text-white dark:bg-blue-100 dark:text-black p-2 rounded-xl mb-3 w-32"><i class="fa-brands fa-discord"></i>Discord</a>
   </div>
  <%}%>
  <script>
    var is_mobile = !!navigator.userAgent.match(/iphone|android|blackberry/ig) || false;
    /*setInterval(() => {
    console.log(is_mobile);
    });*/
    if(is_mobile) { window.location.href = "/mobile/dashboard" 
    document.body.innerHTML = `
     <div class="flex flex-col w-full h-[95vh] justify-center items-center text-center">
      <p class="text-2xl font-bold">Smartphones do not support dashboard</p>
      <br>
      <p class="text-lg">OnBeat doesn't yet support the dashboard on mobile, log into a computer, or use the Discord bot itself.</p>
      <br>
      <p>We are still creating a better experience for mobile users!</p>
     </div>
    ` };
  </script>
<%-include('../include/footer.ejs')%>