<%-include("../include/head.ejs", {
  title: "OnBeat - Music Guild Dashboard",
  description: "Music guild dashboard."
})%>
<%-include("../include/nav.ejs")%>

<%if (req.user) {
  %>
  <%req.user.guilds.forEach(g => {
    if (g.id === guild.id) {
      %>
      <div id="show" x-data="{show: 'loading'}">
        <form id="requestMusic" class="fixed z-[1] bottom-0 flex w-full justify-center mb-3" action="https://api.onbeat.me/api/guild/<%=guild.id%>/track/add" method="post" x-show="show===''" x-transition.opacity.delay.1s.duration.500ms>
        <input name="music" id="music" class="text-slate-900 text-center p-1 drop-shadow rounded-xl w-96" placeholder="<%=req.t("logged.guild.search", { ns: "dashboard", server_name: guild.name })%>" autocomplete="off"></input>
      </form>
        <div x-show="show==='noVC'" x-transition.duration.500ms>
          <%-include("./Tabs/noVoiceChannel.ejs", {g, guild})%>
        </div>
        <div class="flex flex-col justify-center justify-items-center items-center content-center text-center w-full h-[80vh] overflow-hidden" x-show="show === 'noTrack'" id="stopped" x-transition.duration.500ms>
          <%-include("./Tabs/noTrack.ejs", {g, guild})%>
        </div>
        <div id="loading" class="flex justify-center items-center text-center w-full overflow-hidden h-[80vh]" x-show="show==='loading'" x-transition.duration.500ms>
          <%-include("./Tabs/loading.ejs", {g, guild})%>
        </div>
        <div id="queue" class="w-full overflow-hidden" x-show="show==='withTrack'" x-data="{ tab: 'track' }" x-transition:enter.delay.500ms.duration.500ms>
          <%-include("./Tabs/queue.ejs", {g, guild})%>
          </div>
      </div>
      <div id="toast-data" x-data="{toast:false}">
        <div id="toast-music" class="fixed z-[4] flex justify-center items-center top-0 m-2 bg-gray-100 text-black dark:bg-gray-700 dark:text-white text-center transition-all duration-500 p-2 rounded-2xl" x-show="toast" x-transition>
          <p id="toast-music-text">

          </p>
        </div>
      </div>
      <%-include("./Tabs/scripts/indexScript.ejs",{g, guild})%>
      <%
    } else return;
  })%>
  <%} else {%>
    <div class="flex flex-col w-full h-[95vh] justify-center items-center">
      <p>
        Please login with one of these platforms to continue:
      </p>
      <br>
      <a href="/auth/login" class="text-center flex items-center justify-center gap-x-2  bg-blue-900 text-white dark:bg-blue-100 dark:text-black p-2 rounded-xl mb-3 w-32"><i class="fa-brands fa-discord"></i>Discord</a>
    </div>
    <%}%>
      <%-include('../include/footer.ejs')%>
